.App-header {
    display: flex;
    justify-content: center;
}

.App-nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.btn-load{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
}


.search {
    width: 100px;
    margin: 0 auto;
}


ul {
    list-style: none;
}

ul.post__comments{
   display: none;
}

select {
    display: block;
    margin: 0 auto;
}

.post__comments-readmore{
    cursor: pointer;
    background-color: lavender;
    border-radius: 5px;
    margin-left: 10px;

}

.post__comments-readmore:hover + ul.post__comments{
    display: block;
}



ul.post__comments li{
    margin-top: 2px;
    border-radius: 4px;
    background-color: lavender;
}
.post__comment-email{
     display: block;
     margin-left:  10px;
}
.post__comment-body {
    display: block;
}

 /*{*/
    /*width:50px;*/
    /*background-color: lightskyblue;*/
/*}*/